FORMAT: 1A
HOST: https://apx-graphs.e-com.plus/api/v1/

# E-Com Plus Graphs API

E-Com Plus is an ...

## Overview

This API tries to be truly *RESTful*, following Web API Standards, taking as specifications references:

- https://github.com/WhiteHouse/api-standards
- https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html

### Host

Should be accessed from `https://apx-graphs.e-com.plus/api/{version}/`

Current version: **v1**

https://apx-graphs.e-com.plus/api/v1/

Note that every request must be with `https` (SSL)

All endpoints will end with `.json`:

https://apx-graphs.e-com.plus/api/v1/example.json

### Verbs

| Verb    | CRUD           | Description             |
|:--------|----------------|-------------------------|
| GET     | Read           | View object             |

### Status Codes

Based on HTTP/1.1 Status Code Definitions:

- *2xx* - Successful
- *4xx* - Client error, must check the request
- *5xx* - Server error, report us and try again later

### Neo4j HTTP API

All requests are proxy passed to Neo4j
[Transactional Cypher HTTP endpoint](https://neo4j.com/docs/developer-manual/3.3/http-api/#http-api-transactional)
with predefined cyphers, varying only by the resource ID

This API pass only
[MATCH](https://neo4j.com/docs/developer-manual/current/cypher/clauses/match/)
cyphers and the responses are the same as returned from _Neo4j HTTP API_,
so you can read their documentation to get more info and examples

## Error Handling

#### 404

```
{
  "status": 404,
  "error_code": -44,
  "message": "Page not found"
}
```

Incorrect URL paths (check [API Host](#introduction/overview/host))
or invalid resource ID, it must match the
[RegEx](https://regexr.com/) pattern _[a-f0-9]{24}_,
being a valid 24 chars hexadecimal string

#### 503

```
{
  "status": 503,
  "error_code": -53,
  "message": "Service unavailable (DDoS?), wait few seconds"
}
```

NGINX is blocking your requests for security reasons, please wait few seconds and try again

## Server Limits

Responses are limited to 3 requests per IP per second,
and 5 simultaneous connections per IP

In almost all cases you will not receive an error if you go beyond the limits,
the response will only be delayed, but even so,
we recommend that you create treatments in case you receive a *503* status code

## See Also

- [Developers site](https://developers.e-com.plus)
- [GitHub organization](https://github.com/ecomclub)
- [Community](https://community.e-com.plus)

### Other REST APIs

- [Store](https://ecomstore.docs.apiary.io):
E-Com Plus Store API, with all store resources
- [Main](https://ecomplus.docs.apiary.io):
E-Com Plus Main API, with some public data about stores and channels
- [Search](https://ecomsearch.docs.apiary.io):
Powerful text search API using Elasticsearch to find and suggest items (products) and terms

## Getting Help

Feel free to get help or suggest alterations on
[GitHub repo](https://github.com/ecomclub/ecomplus-api-docs) or by e-mail
[ti@e-com.club](mailto:ti@e-com.club)

## Group Products

This authentication method is provided to admin users,
for application authentication you must implement
[Authenticate App](#reference/authenticate-app)

### Step 1: Login [/_login.json]

This step is not required, if you have your own ID and API key skip to the
[next step](#reference/authenticate-yourself/step-2-authenticate)

#### View User ID And API Key [POST]

+ Request (application/json)

    + Headers

            X-Store-ID: 100

    + Attributes (object)
        + email: example@mail.com (string, required)
            User e-mail address
        + pass_md5_hash: 1a79a4d60de6718e8e5b326e338ae533 (string, required)
            User password encoded with MD5

    + Body

            {
              "email": "example@mail.com",
              "pass_md5_hash": "1a79a4d60de6718e8e5b326e338ae533"
            }

+ Response 200 (application/json)

        {
          "_id": "10000000000000000000000f",
          "api_key": "1234567890abcdef"
        }

### Step 2: Authenticate [/_authenticate.json]

Use `_id` and `api_key` returned from [login](#reference/authenticate-yourself/step-1-login)

Will return token and ID to be used on further
([authenticated](#introduction/overview/authentication)) requests,
the returned token is valid for one day, as defined by *expires* ISO 8601 date and time,
then you will need to generate another token

#### Generate Access Token [POST]

+ Request (application/json)

    + Headers

            X-Store-ID: 100

    + Attributes (object)
        + _id: 10000000000000000000000f (string, required)
            User object ID, same returned from login
        + api_key: 1234567890abcdef (string, required)
            User API key, 128 bytes hexadecimal string, same returned from login

    + Body

            {
              "_id": "10000000000000000000000f",
              "api_key": "1234567890abcdef"
            }

+ Response 200 (application/json)

        {
          "my_id": "10000000000000000000000f",
          "access_token": "eyJhbGciOi.eyJzdWIi.AFONFh7HgQ",
          "expires": "2017-12-01T08:02:17-05:00"
        }
